<h1>Afrodita-Ecommerce - Lista de Productos</h1>
<hr>
<h2>Lista de Productos</h2>
    <ul>
        {{#each payload}}
            <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>

<script src="/js/index.js"></script>
